In [46]:
# import libraries
# !pip install pandas
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [11]:
df = pd.read_csv('/Users/veerabhmahadik/Desktop/Superstore Sales Analysis/Walmart.csv', encoding_errors='ignore')

In [14]:
# Understanding the structure and computing basic statistics
df.shape
df.describe()

         invoice_id      quantity        rating  profit_margin
count  10051.000000  10020.000000  10051.000000   10051.000000
mean    5025.741220      2.353493      5.825659       0.393791
std     2901.174372      1.602658      1.763991       0.090669
min        1.000000      1.000000      3.000000       0.180000
25%     2513.500000      1.000000      4.000000       0.330000
50%     5026.000000      2.000000      6.000000       0.330000
75%     7538.500000      3.000000      7.000000       0.480000
max    10000.000000     10.000000     10.000000       0.570000

In [ ]:
# Dropping Duplicates
df.duplicated().sum()
df.drop_duplicates(inplace=True)

np.int64(51)

In [ ]:
# Handling Null Values
df.isnull().sum()
df.dropna(inplace=True)

In [ ]:
# Formatting unit_price column
df['unit_price'] = df['unit_price'].str.replace('$','')

In [39]:
df.columns

Index(['invoice_id', 'Branch', 'City', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin'],
      dtype='object')

In [40]:
# Creating Total Price column
df['Total_Price'] = df['unit_price']*df['quantity']
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,Total_Price
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,604.17

In [48]:
# Directly importing cleaned data csv file
df.to_csv('walmart_clean_data.csv', index=False)

In [52]:
# mysql connection
engine_mysql = create_engine("mysql+pymysql://root:M1lton34@localhost:3306/walmart_db")

try:
    engine_mysql
    print("Connection Successful")
except:
    print("Unable to connect")

Connection Successful

In [54]:
df.to_sql(name='walmart', con=engine_mysql, if_exists='append', index=False)

9969